.dashboard {
  padding: 11px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard__cards {
  width: 100%;
  max-width: 500px;
  margin-top: 21px;
  margin-bottom: 21px;
}

.dashboard__button {
  width: 100%;
  max-width: 500px;
  font-size: 16px;
  background: rgb(245, 204, 128);
  padding: 7px 11px 7px 11px;
  border: 1px solid orange;
  border-radius: 11px;
  cursor: pointer;
}
